<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta author="Ingrid Saavedra">
    <meta description="Esta es una pagina de prueba">
    <meta keywords="html, aplicaciones web">
    <title>WEB</title>
    <link rel="shortcut icon" href="./static/image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./static/css/styles.css" type="text/css">

</head>
<!-- texto -->
<body>
<div class="inicio">
<img src="./static/image/3r.jpg">
<h2>"3 R"</h2>
<p>Las tres erres (3R) es una regla para cuidar el medio ambiente, específicamente para reducir el volumen de residuos o basura generada. Esta regla debe estar incluida en el decálogo de la empresa socialmente responsable.</p>
<p><strong>Nota:</strong> Esté también es conocido como Las 10 acciones de una Empresa Socialmente Responsable (ESR).</p>
</div>
<br>
<div class="grid-container">
  <div class="left">
      <h1>REDUCIR</h1>
    <article>
       <p>Cuando hablamos de reducir lo que estamos diciendo es que se debe tratar de reducir o simplificar el consumo de los productos directos,</p><br>
       <p> o sea, todo aquello que se compra y se consume, ya que esto tiene una relación directa con los desperdicios, a la vez que también la tiene con nuestro bolsillo.</p><br>
       <img src="./static/image/reducir.jpg">
    </article>

  </div>
  <div class="middle">
      <h1>REUTILIZAR</h1>
     <article>
       <p>Al decir reutilizar, nos estamos refiriendo a poder volver a utilizar las cosas y darles la mayor utilidad posible antes de que llegue la hora de deshacernos de ellas,
         dado que al disminuir el volumen de la basura.</p><br>

       <p>Esta tarea suele ser la que menos atención recibe y es una de las mas importantes, que también ayuda mucho la economía en casa.</p><br>
       <p>Usando trapos de cocina en lugar de rollos de papel, y pañuelos de algodón en lugar de su versión en papel.<br>
        Optando por vasos, platos y tazas de loza o cristal, evitando el uso de desechables.<br></p>

         <img src="./static/image/reutilizar.jpg">
    </article>
  </div>
  <div class="right">
      <h1>RECICLAR</h1>
      <article>
        <p>La ultima de las tareas es la de reciclar, que consiste en el proceso de someter los materiales a un proceso en el cual se puedan volver a utilizar, reduciendo de forma verdaderamente significativa la utilización de nuevos materiales, y con ello, mas basura en un futuro.</p><br>

        <p>Las sociedades del mundo siempre han producido residuos, pero es ahora, en la sociedad de consumo, cuando el volumen de las basuras ha crecido de forma desorbitada.</p><br>
        <img src="./static/image/reciclar.jpg">
     </article>
  </div>
<div class="footer">
  <p>Universidad Tecnologica Tula-Tepeji</p>
</div>
</body>
</html>